.btn-container {
    outline: none;
    border: 0;
    height: 40px;
    border-radius: 8px;
    padding: 0.5rem 1.2rem;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.solid {
    background-color: #39cdcc;
    color: #fff;
}

.contain {
    border: 1px solid #545f7d;
    color: #545f7d;
    background-color: transparent;
}