.drop-down-container {
    position: absolute;
    width: 170px;
    background: #ffffff;
    border: 1px solid rgba(84, 95, 125, 0.04);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    left: -140px;
    z-index: 1;
}

.drop-down-container .btn {
    width: 100%;
    text-align: left;
    padding: 1rem;
    display: flex;
    align-items: center;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #545f7d;
    // gap: 0.2rem;
}

.btn img {
    margin-right: 0.2rem;
}

.drop-down-container .btn.btn:hover {
    background-color: whitesmoke;
}

.pointer-cursor {
    cursor: pointer;
}